<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MAEO{% endblock %}</title>
    {% block stylesheets %}
        <!-- <link rel="stylesheet" href="/maeo-equipe-04/public/assets/css/bootstrap.min.css"> -->

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

        <link rel="stylesheet" href="/maeo-equipe-04/public/assets/css/style.css">
    {% endblock %}
</head>

<body>


{# navigation bar #}
{% block navbar %}
<header>
  <nav>
    <div class="nav-wrapper">
    <a href="home" class="brand-logo">MAEO</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li {% block homeactive %}class="active"{% endblock %}><a href="home">Accueil</a></li>
      {% if user.email != false %}
          <li><a href="logout"><b>Log out</b></a></li>
      {% else %}
          <li {% block loginactive %}{% endblock %}><a href="login">Connexion</a></li>
          <li {% block signupactive %}{% endblock %}><a href="signup">S'enregistrer</a></li>
      {% endif %}
    </ul>
    </div>
  </nav>
</header>
{% endblock %}


{% block content %}
  {#content #}
{% endblock %}

<!-- {% block navbarbottom %}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Méthodes et Outils Agiles</h5>
          <p class="grey-text text-lighten-4">développée par Alexis GIOVANNELLI, Victor REEB, David BARRE, Guillaume WEBER, Sébastien DUPUIS</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Liens utiles</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright Text
      </div>
    </div>
  </footer>
{% endblock %} -->

</body>

{% block scripts %}

    <script src="/maeo-equipe-04/public/assets/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="/maeo-equipe-04/public/assets/js/bootstrap.min.js"></script> -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

{% endblock %}
</html>
