{% extends 'base.html.twig' %}

{% block content %}

  <div class="container">
    <h5 class="center">Appel d’offre Public : plate-forme d’échange interactive de soumission d’offre</h5>
    <p>Constat : La question des procédures de marché public est un casse tête, tant pour la maîtrise d’ouvrage
      que pour les entreprises (architectes, bureaux d’études, entreprises de TP et du bâtiment) :
      <ul>
        <li>- les commanditaires publics de collectivités non structurées sont désarmées face à cette complexité. (choix du type de procédure et de passation de marché, organisation, quels justificatifs demander…) ; de fait, de nombreuses consultations ne respectent pas la loi et le code des marchés publics</li>
        <li>- les entreprises font face à des demandes de documents sans cesse changeant, avec un formalisme propre à chaque appel d’offre ou candidature</li>
        <li>- l’investissement en temps pour finaliser les dossiers est énorme</li>
        <li>- la maîtrise d’ouvrage dispose de peu de moyen de vérification des informations qui lui sont envoyées (administrative, assurance, références…), ce qui ouvre la porte à de nombreuses dérives et fausses informations</li>
      </ul>
      L’impact négatif sur l’ensemble de l’économie du pays est important et peut être simplifié et amoindri par la mise en place d’un outil commun d’échange d’information et de base de donnée informatisé…
</p>
  </div>

{% endblock %}
