.navbar-footer{
    text-align:center;
    font-size:1.7rem;
    color:white;
    height:20px;
}

.panel-register{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}
